{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Dados Climáticos</h1>
    <p class="lead">Acesse dados climáticos de qualquer região no Brasil.</p>
    <hr class="my-4">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="form-group col-4">
                {{ form.city_code.label(class="form-control-label") }}
                {{ form.city_code(class="form-control", placeholder="Digite aqui o código da Cidade") }}
                <small id="city_help" class="form-text text-muted">
                    O código da cidade que você deseja pesquisar deve ser um número inteiro.
                </small>
            </div>
            <div class="form-group col-4">
                {{ form.beginning_date.label(class="form-control-label") }}
                {{ form.beginning_date(class="form-control", placeholder="Digite aqui a data de início", type="date") }}
                <small id="beginning_date_help" class="form-text text-muted">
                    A data de início da pesquisa deve estar na faixa de 7 dias
                    a partir da data atual.
                </small>
            </div>
            <div class="form-group col-4">
                {{ form.end_date.label(class="form-control-label") }}
                {{ form.end_date(class="form-control", placeholder="Digite aqui a data de fim", type="date") }}
                <small id="end_date_help" class="form-text text-muted">
                    A data de fim da pesquisa deve estar na faixa de 7 dias
                    a partir da data atual. Deve ser também superior à data de início.
                </small>
            </div>
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-dark float-right") }}
        </div>
    </form>
</div>
{% endblock %}