{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    {% if context.error %}
    <h1 class="display-4">{{ context.error }}</h1>
    <hr class="my-4">
    <p class="lead">
        Lembre-se que a data de início não pode ser superior à data de fim,
        assim como ambas não podem ter uma diferença maior do que 7 dias da data atual.
    </p>
    {% else %}
    <h1 class="display-4">Dados encontrados com sucesso!</h1>
    <hr class="my-4">
    <p class="lead">Código da Cidade: {{ context.city_code }}</p>
    <p class="lead">Data de Início: {{ context.beginning_date }}</p>
    <p class="lead">Data de Fim: {{ context.end_date }}</p>
    {% if context.max_temperature_dates %}
    <p class="lead">Datas de temperatura máxima:<br>
        {% for date in context.max_temperature_dates %}
        {{ date }}<br>
        {% endfor %}
    </p>
    {% endif %}
    <p class="lead">Valor de temperatura máxima: {{ context.max_temperature }}</p>
    {% if context.min_temperature_dates %}
    <p class="lead">Datas de temperatura mínima:<br>
        {% for date in context.min_temperature_dates %}
        {{ date }}<br>
        {% endfor %}
    </p>
    {% endif %}
    <p class="lead">Valor de temperatura mínima: {{ context.min_temperature }}</p>
    {% if context.min_temperature_dates %}
    <p class="lead">Datas de maior probabilidade de chuva:<br>
        {% for date in context.rain_probability_dates %}
        {{ date }}<br>
        {% endfor %}
    </p>
    {% endif %}
    <p class="lead">Probabilidade de Chuva: {{ context.rain_probability }}</p>
    <p class="lead">Quantidade de Chuva:
        {{ context.amount_of_rain }}
    </p>
    {% endif %}
    <a href="/" class="btn btn-dark float-right">Realizar nova consulta</a>
</div>
{% endblock %}